<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Twitter Handlebars</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="css/tweet.css">

</head>

<body>
    <script type="text/javascript" src="js/libs/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/libs/jquery-ui.js"></script>
    <script src="js/libs/underscore-min.js"></script>
    <script src="js/libs/backbone.js"></script>
    <script src="js/libs/backbone.localStorage.js"></script>

    <script src="app.js"></script>


    <div id="tweets">
        <nav id="topInput">
            <input id="search_title" type="text" placeholder="search">
        </nav>
        <ul id="side-bar">
        </ul>
        <ul id="sortable">
        </ul>
    </div>

    <script type="text/template" id="tweetsTemplate">
        <div class="tweet">
            <p> <b><%- title %> </b></p>
            <label><%- text %></label>
        </div>
        <textarea class="edit" type="text"><%- text %></textarea>
    </script>

    <script type="text/template" id="searchTemplate">
        <div class="search-result">
            <p><b> <%- title%></b></p>
            <label><%- text %></label>
        </div>
    </script>

</body>
</html>