
body {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #eeeeee;
    color: #333333;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}

#center{
    MARGIN-RIGHT: auto;
    MARGIN-LEFT: auto;
    height:50px;
    width:600px;
    vertical-align: middle;
}

#center input[type="text"] {
    font-size: 20px;
    font-family: inherit;
    line-height: 1.4em;
    outline: none;
    margin: 0px 30px;
    border: 1px solid #999999;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

#list {
    margin: 10px 0;
    padding: 0;
    list-style: none;
}

#list li {
    padding: 18px 20px 18px 0;
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #cccccc;
}

li.editing {
    border-bottom: none;
    margin-top: -1px;
    padding: 0;
}

li.editing .edit {
    display: block;
    width: 300px;
    height: 90px;
    padding: 1px;
    margin: 0;
}

li.editing .view .tweet {
    display: none;
}

li.view .tweet label {
    word-break:break-all;
}

li .edit {
    display: none;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sortable li {
    margin: 3px 3px 3px 20px;
    background-color: whitesmoke;
    padding: 4px;
    float: left;
    position: relative;
    width: 300px;
    height: 200px;
    font-size: 20px;
    text-align: left;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}



textarea{
    overflow: auto;
    padding: 6px;
    margin: 0px 30px;

}
