body {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: white;
    color: #333333;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}

header { height: 37px; }

nav {
    height: 37px;
    width: 100%;
    background-color: #2D2D2D;
    position: fixed;
    top: 0;
}

#search_title{
    margin: 9px auto auto 30px;
    width: 315px;
    border: 0 none;
    color: #2D2D2D;
    padding: 2px;
}

#side-bar {
    width: 310px;
    height: 100%;
    margin-top: 3px;
    margin-left: 5px;
    background-color: #EDEDED;
    border-right: solid 1px #DDDDDD;
    position: fixed;
    left: 0;
}


#tweets{
    height: 100%;
    background-color: #EDEDED;
    border-right: solid 1px #DDDDDD;
}

li.editing {
    border-bottom: none;
    margin-top: -1px;
    padding: 0;
}

li.editing .edit {
    display: block;
    width: 300px;
    height: 90px;
    padding: 1px;
    margin: 0;
}

li.editing .view .tweet {
    display: none;
}

li.view .tweet label {
    word-break:break-all;
}

li .edit {
    display: none;
}

#sortable {
    margin-left: 370px;
    margin-top: 37px;
    list-style-type: none;
    position: relative;
    padding: 0;
}

#sortable li {
    margin: 3px 3px 3px 20px;
    background-color: whitesmoke;
    padding: 4px;
    float: left;
    position: relative;
    width: 300px;
    height: 200px;
    font-size: 20px;
    text-align: left;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

#side-bar li{
    margin: 3px 2px;
    border-bottom: 1px solid #cccccc;
}
